@import "../scss/common";

@keyframes digital-pulse {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}

.rai-digital {
  height: 1em;
  text-align: center;
  & > div {
    display: inline-block;
    margin-right: em(2);
    background-color: $rai-default-clr;
    width: em(4);
    height: 100%;
    animation-name: digital-pulse;
    animation-duration: inherit;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    &:last-child {
      margin-right: 0;
    }
  }
}
