{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "plugins": [
      "eslint-plugin-react"
  ],
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "brace-style": [2, "1tbs"],
    "no-mixed-spaces-and-tabs": 2,
    "object-curly-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "space-before-function-paren": [2, "never"],
    "spaced-comment": [2, "always"],
    "space-before-blocks": [2, "always"],
    "no-spaced-func": 2,
    "camelcase": 2,
    "space-infix-ops": 2,
    "no-unused-vars": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "no-undef": 2
  }
}
