@keyframes dots-pulse {
  0% {
    opacity: 0.1;
  }
  15% {
    opacity: 1;
  }
  100% {opacity: 0.1}
}
.rai-dots {
  display: inline-block;
  position: relative;
  animation-duration: inherit;
}
.rai-circle {
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.0625em;
  background-color: #727981;
  width: 0.2em;
  height: 0.2em;
  animation-name: dots-pulse;
  animation-duration: inherit;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  &.one {
    animation-delay: -0.3s;
  }
  &.two {
    animation-delay: -0.2s;
  }
  &.three {
    animation-delay: -0.1s;
  }
  &:last-child {
    margin-right: 0;
  }
}
