@keyframes pulse {
  0% {
    height: 30%;
    opacity: 0.5
  }
  25% {
    height: 100%;
    opacity: 1}
  35% {
    height: 30%;
    opacity: 0.5;
  }
  50% {
    height: 100%;
    opacity: 1;
  }
  60% {
    height: 50%;
    opacity: 0.5;
  }
  75% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 30%;
    opacity: 0.5;
  }
}

:local(.loader) {
  text-align: left;
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
}

:local(.bar) {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 0.1875em;
  height: 0.625em;
  background: #727981;
  animation: pulse 1.5s ease-in-out infinite;
}

:local(.two) {
  left: 0.3125em;
  animation-delay: -1s;
}

:local(.three) {
  left: 0.625em;
  animation-delay: -0.5s;
}
