@keyframes levels-pulse {
  0% {
    height: 30%;
    opacity: 0.5
  }
  25% {
    height: 100%;
    opacity: 1}
  35% {
    height: 30%;
    opacity: 0.5;
  }
  50% {
    height: 100%;
    opacity: 1;
  }
  60% {
    height: 50%;
    opacity: 0.5;
  }
  75% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 30%;
    opacity: 0.5;
  }
}

.rai-levels {
  text-align: left;
  display: inline-flex;
  align-items: flex-end;
  height: 1em;
}

.rai-bar {
  bottom: 0;
  display: inline-block;
  width: 0.2em;
  background: #727981;
  margin-right: 0.1em;
  animation-name: levels-pulse;
  animation-duration: inherit;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  &.two {
    animation-delay: -1s;
  }
  &.three {
    animation-delay: -0.5s;
  }
  &:last-child {
    margin-right: 0;
  }
}
