@import '../scss/common';


@keyframes rai-sentry-pulse {
  from {transform: scale(0); opacity: 1; }
  to {transform: scale(1); opacity: 0; }
}

.rai-sentry {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  .rai-wave-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    animation-duration: inherit;
  }
  .rai-wave {
    display: inline-block;
    border: em(2) solid $rai-default-clr;
    border-radius: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation-name: rai-sentry-pulse;
    animation-duration: inherit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
