.switch {
  display: inline-block;
  height: 20px;
  width: 40px;
  border-radius: 2px;
  cursor: pointer;
  background: #ddd;
}

.switch--on {
  background: var(--primary-color);
  & .switch-trigger {
    transform: translate(23px, 1px);
  }
}

.switch-trigger {
  background: #fff;
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 2px;
  transform: translate(3px, 1px);
  position: relative;
  transition: transform 0.2s ease-out;
  &:before,
  &:after {
    content: "";
    height: 8px;
    width: 1px;
    background: #e5e5e5;
    position: absolute;
    top: 3px;
  }
  &:before {
    left: 5px;
  }
  &:after {
    right: 5px;
  }
}
