@import "../scss/common";

.indicators {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
  .indicator {
    display: flex;
    flex-basis: 25%;
    background: shade($blue-clr, 10%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    text-align: center;
    height: 120px;
    position: relative;
    padding-bottom: 20px;
    transition: all 0.1s linear;
    cursor: pointer;
    &.active {
      width: 100%;
    }
    &.active,
    &:hover, &.selected {
      background: shade($blue-clr, 15%);
    }
    .label {
      position: absolute;
      width: 100%;
      bottom: 0;
      font-size: 12px;
      color: #FFF;
      padding: 20px 0;
      text-align: center;
    }
    @include media($mobile-breakpoint) {
      display: block;
    }
  }
}

.demo-container {
  display: flex;
  background: #FFF;
  padding: 30px;
}
.demo-options {
  margin-right: 20px;
  min-width: 180px;
}
.demo-option {
  margin-bottom: 10px;
  & > label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #AAA;
    display: block;
    &::after {
      content: ':'
    }
  }
  & > input {
    display: block;
    border-radius: 1px;
    padding: 8px;
    font-size: 14px;
    color: #333;
    outline: 0;
    border: 1px solid #DDD;
    &:focus {
      border-color: $blue-clr;
    }
  }
}
.demo-output {
  flex-grow: 1;
}
