@import "../scss/common";

@keyframes rai-spinner {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.rai-spinner {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  margin: 0;
  &-inner,
  &-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin-left: em(-1);
    margin-top: em(-1);
  }
  &-outer {
    border: em(2) solid $rai-default-clr;
    opacity: 0.2;
  }
  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top: em(2) solid $rai-default-clr;
    border-right: em(2) solid transparent !important;
    border-bottom: em(2) solid transparent !important;
    border-left: em(2) solid transparent !important;
    animation-name: rai-spinner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: inherit;
  }
}
