@keyframes windill-pulse {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(356deg);
  }
}

.rai-windill {
  width: 1em;
  height: 1em;
  position: relative;
  & > div {
    border-radius: em(2);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: em(-1);
    width: em(2);
    height: 100%;
    animation-name: windill-pulse;
    animation-duration: inherit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
