@import "../scss/common";

@keyframes bounce-pulse {
  0% {
    transform: translateY(em(3));
  }
  30% {
    transform: translateY(em(-4));
  }
  50% {
    transform: translateY(3);
  }

}

.rai-bounce {
  & > div {
    transform: translateY(em(3));
    border-radius: 100%;
    display: inline-block;
    margin-right: em(3);
    background-color: $rai-default-clr;
    width: em(8);
    height: em(8);
    animation-name: bounce-pulse;
    animation-duration: inherit;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    &:last-child {
      margin-right: 0;
    }
  }
}
